.headerDiv {
  display: flex;
  justify-content: space-evenly;
  margin: 0 0 2rem 0;
  padding: 0 1rem;
  height: 7rem;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  height: 2px;
  width: 100vw;
  z-index: 500;
  background: linear-gradient(
    120deg,
    rgba(15, 111, 226, 1) 25%,
    rgba(2, 171, 228, 1) 55%,
    rgba(0, 212, 255, 1) 85%
  );
  animation: slide-gradient 0.5s ease infinite;
}

@keyframes slide-gradient {
  0% {
    background: linear-gradient(
      120deg,
      rgba(0, 212, 255, 1) 25%,
      rgba(15, 111, 226, 1) 55%,
      rgba(2, 171, 228, 1) 85%
    );
  }
  50% {
    background: linear-gradient(
      120deg,
      rgba(2, 171, 228, 1) 25%,
      rgba(0, 212, 255, 1) 55%,
      rgba(15, 111, 226, 1) 85%
    );
  }
  75% {
    background: linear-gradient(
      120deg,
      rgba(15, 111, 226, 1) 25%,
      rgba(2, 171, 228, 1) 55%,
      rgba(0, 212, 255, 1) 85%
    );
  }
  100% {
    background: linear-gradient(
      120deg,
      rgba(0, 212, 255, 1) 25%,
      rgba(15, 111, 226, 1) 55%,
      rgba(2, 171, 228, 1) 85%
    );
  }
}

.siteName {
  cursor: pointer;
  color: #fff;
}

.siteNameLight {
  cursor: pointer;
  color: #2ba1f2;
}

.leftHeader {
  display: flex;
  width: 100%;
}

.themeMode {
  align-self: center;
  margin-right: 2rem;
}

.themeMode:hover {
  fill: #71c9f8;
  cursor: pointer;
}

.innerHeader {
  align-self: center;
  text-align: center;
  font-size: 1rem;
  color: #fff;
  margin-right: 1rem;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  width: 70%;
  min-width: 20rem;
  max-width: 50rem;
  margin: 0 1rem;
}

.container::before {
  content: '';
  position: absolute;
  bottom: 23%;
  left: 1.5%;
  height: 40%;
  width: 99.5%;
  border-radius: 0.5rem;
  background-color: #2ba1f2;
}

.container::after {
  content: '';
  position: absolute;
  top: 23%;
  right: 1.5%;
  height: 40%;
  width: 99.5%;
  border-radius: 0.5rem;
  background-color: #71c9f8;
}

@media only screen and (min-width: 1024px) {
  .container::before {
    content: '';
    position: absolute;
    top: 23%;
    left: 1.5%;
    height: 40%;
    width: 99.5%;
    margin-top: 10px;
    border-radius: 0.5rem;
    background-color: #2ba1f2;
  }

  .container::after {
    content: '';
    position: absolute;
    bottom: 100%;
    right: 1.5%;
    height: 40%;
    width: 99.5%;
    border-radius: 0.5rem;
    background-color: #71c9f8;
  }
}

@media only screen and (max-width: 600px) {
  .headerDiv {
    display: flex;
    justify-content: space-evenly;
    padding: 0 1rem;
    margin: 0;
    height: 7rem;
  }

  .container::before {
    content: '';
    position: absolute;
    top: 23%;
    left: 2%;
    height: 40%;
    width: 99.5%;
    margin-top: 10px;
    border-radius: 0.5rem;
    background-color: #2ba1f2;
  }

  .container::after {
    content: '';
    position: absolute;
    bottom: 100%;
    right: 2%;
    height: 40%;
    width: 99.5%;
    border-radius: 0.5rem;
    background-color: #71c9f8;
  }
}

.headerInput {
  height: 3rem;
  width: 100%;
  padding: 1rem;
  outline: none;
  border-radius: 0.5rem;
  border: none;
  z-index: 10;
}

.headerInputLight {
  height: 3rem;
  width: 100%;
  padding: 1rem;
  outline: none;
  border-radius: 0.5rem;
  border: 1px solid #acb1b6;
  z-index: 10;
}

.footer {
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1.5rem;
  font-size: 1.5rem;
  background-color: #fff;
  border-top: 1px solid black;
}
