.quote {
  display: flex;
  flex-direction: column;
  width: 37rem;
  border-radius: 1rem;
  background-color: #000;
  border: 1px solid #38444d;
  overflow: hidden;
}

.quoteLight {
  display: flex;
  flex-direction: column;
  width: 37rem;
  border-radius: 1rem;
  background-color: #fff;
  border: 1px solid #acb1b6;
  overflow: hidden;
}

.quoteNoPhoto {
  display: flex;
  flex-direction: column;
  width: 37rem;
  border-radius: 1rem;
  background-color: #000;
  border: 1px solid #38444d;
  border-bottom-style: none;
  overflow: hidden;
}

.quoteNoPhotoLight {
  display: flex;
  flex-direction: column;
  width: 37rem;
  border-radius: 1rem;
  background-color: #fff;
  border: 1px solid #acb1b6;
  border-bottom-style: none;
  overflow: hidden;
}

.quotePhoto {
  display: flex;
  flex-direction: column;
  max-height: 37rem;
  width: 37rem;
  border-radius: 1rem;
  background-color: #000;
  border: 1px solid #38444d;
  overflow: hidden;
}

.quotePhotoLight {
  display: flex;
  flex-direction: column;
  max-height: 37rem;
  width: 37rem;
  border-radius: 1rem;
  background-color: #000;
  border: 1px solid #acb1b6;
  overflow: hidden;
}

.quoteHeader {
  width: 100%;
  padding: 1rem;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #38444d;
  z-index: 10;
  overflow: hidden;
}

.quoteInfo {
  display: flex;
  height: 24px;
  margin: 0.5rem 0;
  overflow: hidden;
}

.quoteAvatar {
  display: flex;
  align-items: flex-end;
  height: 24px;
  width: 24px;
  margin: 0;
  border-radius: 50%;
  margin-right: 1rem;
}

.quoteName {
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: bold;
  color: #fff;
  margin: 0;
  margin-right: 0.5rem;
}

.quoteNameLight {
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: bold;
  color: #000;
  margin: 0;
  margin-right: 0.5rem;
}

.verified {
  height: 13px;
  width: 13px;
  margin-left: 0.5rem;
}

.quoteScreenName {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  margin-right: 0.5rem;
  color: #82929f;
}

.quoteDate {
  display: flex;
  align-items: center;
  font-size: 12px;
  margin: 0;
  color: #82929f;
}

.quoteText {
  font-size: 14px;
  overflow-wrap: break-word;
  margin: 0;
  color: #fff;
}

.quoteTextLight {
  font-size: 14px;
  overflow-wrap: break-word;
  margin: 0;
  color: #000;
}

.quoteMedia {
  display: flex;
  max-height: 20rem;
  width: 100%;
  background-color: #000;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
