.photo {
  height: auto;
  width: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
}

.photos {
  display: flex;
}

.flexPhoto {
  height: 20rem;
  width: 20rem;
  object-fit: cover;
  background-repeat: no-repeat;
}

.flexThreeSinglePhoto {
  height: 20rem;
  object-fit: cover;
  background-repeat: no-repeat;
}

.twoPhoto {
  position: relative;
  display: flex;
}

.gridThree {
  height: 30rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
  gap: 2px;
}

.gridPhoto {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
}

.fourPhoto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.noSupport {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  background-color: #15202b;
}

.modal {
  height: 100vh;
  width: 100vw;
  background-color: #000;
  opacity: 75%;
  z-index: 100;
}
