.photo {
  height: auto;
  width: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
}

.full {
  content: '';
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform: scale(0.8);
  background-color: #000;
  border-radius: 0.5rem;
  object-fit: contain;
  z-index: 300;
}

.photos {
  display: flex;
}

.flexPhoto {
  height: 20rem;
  width: 20rem;
  object-fit: cover;
  background-repeat: no-repeat;
}

.twoPhoto {
  position: relative;
  display: flex;
}

.threePhoto {
  display: flex;
}

.flexThree {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flexThreePhoto {
  display: flex;
  object-fit: cover;
  width: 50%;
}

.fourPhoto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.noSupport {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  background-color: #15202b;
}

.modal {
  height: 100vh;
  width: 100vw;
  background-color: #000;
  opacity: 75%;
  z-index: 100;
}
